module.exports = ({ env }) => ({
  connection: {
    client: 'postgres',
    connection: {
      host: '{{ db_host }}',
      port: {{ db_port }},
      database: '{{ db_name }}',
      user: '{{ db_user }}',
      password: '{{ db_password }}',
      ssl: {
        rejectUnauthorized: false
      }
    },
    pool: {
      min: 2,
      max: 10
    }
  }
});
