[Unit]
Description=Strapi CMS
After=network.target

[Service]
Type=simple
User=nodeapp
WorkingDirectory=/home/nodeapp/my-strapi-project
ExecStart=/usr/bin/npm run start
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
